h1 {
  text-align: center;
  text-decoration: underline;
}
#Beach {
    width: 289; 
    height: 289;
}
.dancing {
    width: 289;
    height: 289; 
}
#communityService {
    width: 289;
    height: 289;
}